{% extends 'sancom_free/common.html' %}
{% load static %}

{% block title %}　{% endblock %}
<!--{% block header %}　{% endblock %}-->
{% block content %}
<table class="table mt-3">
    <tr><td>
    <p class~"my-0">
        {{contents.japanese}}
    </p>
    <p class~"my-0">
        {{contents.chinese}}
    </p>
    <audio controls controlslist="nodownload" ><source src="{% static contents.csound %}"></audio>
    </td></tr>
</table>
    <a href="{% url 'crepeat' contents.id %}"><button class="btn btn-outline-primary btn-sm mr-2">To 発声訓練</button></a>
    <p class="my-0">連続30回の再生で暗唱訓練BOXに登録できます</p>
    <br>
    <a href="{% url 'cscraper' contents.id %}"><button class="btn btn-outline-primary btn-sm mr-2">To ネット辞書</button></a>
    <p class="my-0">単語の意味や発音記号を調べます</p>
    <br>
    <a href="{% url 'cseparate' contents.id %}"><button class="btn btn-outline-primary btn-sm mr-2">To 音声分割</button></a>
    <p class="my-0">長文で復唱しにくい場合に利用します<br>(バグ修正中)</p>
{% endblock %}
