{% extends 'sancom_free/common.html' %}
{% load static %}

{% block title %}ビジネス文例５４０{% endblock %}
<!--{% block header %}　{% endblock %}-->
{% block content %}
<h5>記憶深化訓練</h5>

{% if message1 %}
    <br>
    <form action="{% url 'ch_deepen' %}" method="post">
    {% csrf_token %}
    <label>{{dictionary_choiced}}</label>
    <table class="table mt-6">
        {% for record in records %}
        <tr>
            <td><font size="1">{{record.date}}</font></td>
            {% if record.status == 0 %}<td><font size="2">登録日</font></td>
            {% elif record.status == 1 %}<td><font size="2">レベル１：思い出せなかった</font></td>
            {% elif record.status == 2 %}<td><font size="2">レベル２：一部を間違えた</font></td>
            {% elif record.status == 3 %}<td><font size="2">レベル３：たどたとしく言えた</font></td>
            {% elif record.status == 4 %}<td><font size="2">レベル４：自分なりにすらすら言えた</font></td>
            {% else %}><td><font size="2">レベル５：ネイティブの速さで言えた</font></td>{% endif %}
        </tr>
        {% endfor %}
    </table>
    <input class="btn btn-primary my-2" type="submit" name="start" value="訓練開始">
    </form>
    <a class="py-0" href="{% url 'ch_deepen_list' %}">リストへ戻る</a>
{% endif %}

{% if message2 %}
<table class="table mt-3">
<tr style="color:goldenrod">
    <td>{{dictionary_choiced.japanese}}</td>
</tr>
</table>
<form action="{% url 'ch_deepen' %}" method="post">
{% csrf_token %}
<p class="space2">1. 初めに中国語で言ってください</p>
<p class="space2">2. 次に確認ボタンを押して自己採点をします</p>
<button id="btn1" class="btn btn-primary my-2, space4" type="submit" name="verify" >確認</button>
    <br>
    {% if message3 %}
    <label class="space2" >　{{dictionary_choiced.chinese}}</label>
    <br>
    <audio class="space4" id="bgm1" controls controlslist="nodownload" ><source src="{% static dictionary_choiced.csound %}" ></audio>
    <p class="space2">3. 結果を選択し訓練履歴追加を押してください</p>
    <label class="space2">{{form}}</label>
    <input class="btn btn-primary my-2, space4" type="submit" name="register" value="訓練履歴追加" >
    <br><br>
    <a class="py-0, space4" href="{% url 'ch_deepen_list' %}">追加をせずにリストへ戻る</a>
    {% endif %}
</form>
{% endif %}

{% if message4 %}
    <br>
    <form action="{% url 'ch_deepen' %}" method="post">
    {% csrf_token %}
    <label>{{dictionary_choiced}}</label>
    <table class="table mt-6">
        {% for record in records %}
        <tr>
            <td><font size="1">{{record.date}}</font></td>
            {% if record.status == 0 %}<td><font size="2">登録日</font></td>
            {% elif record.status == 1 %}<td><font size="2">レベル１：思い出せなかった</font></td>
            {% elif record.status == 2 %}<td><font size="2">レベル２：一部を間違えた</font></td>
            {% elif record.status == 3 %}<td><font size="2">レベル３：たどたとしく言えた</font></td>
            {% elif record.status == 4 %}<td><font size="2">レベル４：自分なりにすらすら言えた</font></td>
            {% else %}><td><font size="2">レベル５：ネイティブの速さで言えた</font></td>{% endif %}
        </tr>
        {% endfor %}
    </table>
    {{message4}}
    <br><br>
    <a class="btn btn-outline-primary btn-sm mr-2" href="{% url 'ch_deepen_list' %}">リストへ戻る</a>
    <br><br>
    <p class="">文例トップより適時復習を行ってください</p>
    <label class="">結果が安定していれば「終了」に移行できます</label>
    <br>
    <input class="btn btn-primary my-2, space2" type="submit" name="to_finish" value="終了へ移行" >
    </form>

{% endif %}

{% if message5 %}
<p>{{dictionary_choiced.item}} は終了に登録されました</p>
<p class="space2">{{dictionary_choiced.japanese}}</p>
<p class="space2">{{dictionary_choiced.chinese}}</p>
<a class="py-0" href="{% url 'ch_deepen_list' %}">リストへ戻る</a>
{% endif %}

<script>
    const bgm1 = document.getElementById('bgm1');
    const btn1 = document.getElementById('btn1');
    btn1.addEventListener("click", ()=>{
        bgm1.play();
    });
</script>

{% endblock %}
