{% extends "base.html" %}

{% block body %}

    {% if user.is_authenticated %}
        <p>こんにちは {{visiter}} さん</p>
        <br>
        <h5>SANCOMコンテンツ</h5>
        <ul>
            <li class="h6 mb-3"><a href="{% url 'business' %}">英中ビジネスフレーズ５４０</a></li>
            <!--<li class="h6 mb-3"><a href="{% url 'publiccontents' %}">一般公開コンテンツ</a></li>-->
        </ul>
        <h5>SANCOMオンラインレッスン</h5>
        <ul>
            <li class="h6 mb-3"><a href="">ビデオチャット(画面共有/ファイル共有)</a></li>
        </ul>
        <h5>SANCOMコニュニティー</h5>
        <ul>
            <li class="h6 mb-3"><a href="">ビデオチャット(多国語通話)</a></li>
            <li class="h6 mb-3"><a href="{% url 'index' %}">SANCOM SNS</a></li>
        </ul>
   
    {% else %}
    <br>
    <h5 class="h6 mb-3" >会員エリアメニュー</h4>
    <ul>
        <li class="h6 mb-3">英中ビジネスフレーズ５４０</li>
        <li class="h6 mb-3">SANCOM ビデオチャット</li>
        <li class="h6 mb-3">SANCOM SNS</li>
    </ul>
    <h5 class="h6 mb-3" >プロバイダー一覧</h4>
        <ul>
            <li class="h6 mb-3">準備中</li>
        </ul>
     <br>
    <p><a href="https://san-com.jp">SANCOMホーム</a></p>    
    {% endif %}

    {% endblock %}