{% extends "base.html" %}

{% block body %}

    {% if user.is_authenticated %}
        <p>こんにちは {{visiter}} さん</p>
        <br>
        <h5>フリーコンテンツ</h5>
        <ul>
            <li class="h6 mb-3"><a href="{% url 'business' %}">英中ビジネスフレーズ５４０</a></li>
            <li class="h6 mb-3"><a href="{% url 'publiccontents' %}">一般公開コンテンツ</a></li>
        </ul>
        <h5>有料コンテンツ</h5>
        <ul>
            <li class="h6 mb-3">２０２２年以降に公開</li>
        </ul>
        <h5>オンライン発音コーチング</h5>
            <ul>
                <li class="h6 mb-3"><a href="">数カ月以内に開始します</a></li>
            </ul>
        <p>　</p>        
    {% else %}
    <br>
    <h5 class="h6 mb-3" >会員の方</h4>
    <ul>
        <li class="h6 mb-3">「ログイン」よりお進みください。</li>
    </ul>
    <h5 class="h6 mb-3" >これから入会される方</h4>
    <ul>
        <li class="h6 mb-3">「入会」にてお手続きください。</li>
        <li class="h6 mb-3">Eメールアドレスで登録します。</li>
        <li class="h6 mb-3">費用は発生しません。</li>
        <li class="h6 mb-3">SANCOM独自コンテンツをご利用いただけます。</li>
    </ul>
    <p>パスワード再発行は現在機能しておりません(忘れないようにお願いします)。</p>
    <p>データベース更新により会員情報がリセットされました。お手数ですが再度入会手続きをお願いします。</p>
    <br>
    <p><a href="https://san-com.jp">SANCOMトップページ</a></p>    
    {% endif %}

    {% endblock %}