{% extends "base.html" %}

{% block body %}

    {% if user.is_authenticated %}
        <p>こんにちは {{visiter}} さん</p>
        <br>
        <h5>フリーコンテンツ</h5>
        <ul>
            <li class="h6 mb-3"><a href="{% url 'business' %}">日英中ビジネス540文例<br>(更に追加していきます)</a></li>
            <li class="h6 mb-3"><a href="{% url 'publiccontents' %}">一般公開コンテンツ</a></li>
        </ul>
        <h5>有料コンテンツ</h5>
        <ul>
            <li class="h6 mb-3">２０２２年以降に公開</li>
        </ul>
        <h5>オンライン発音コーチング</h5>
            <ul>
                <li class="h6 mb-3"><a href="">まもなく開始します(注)</a></li>
            </ul>
        <p>注：独自開発オンラインコミュニケーションツールにて行います。</p>        
    {% else %}
    <br>
    <h5 class="h6 mb-3" >会員の方</h4>
    <ul>
        <li class="h6 mb-3">「ログイン」よりお進みください。</li>
    </ul>
    <h5 class="h6 mb-3" >これから入会される方</h4>
    <ul>
        <li class="h6 mb-3">「入会」にてお手続きください。</li>
        <li class="h6 mb-3">費用は発生しません。</li>
        <li class="h6 mb-3">入会にはEメールアドレスが必要です。</li>
        <li class="h6 mb-3">入会後、フリーコンテンツをご利用いただけます。</li>
    </ul>
    <p>iPhone/iPadで開設したメールアドレスは、パスワード再設定時のメール受信に問題があるためパスワードの再設定ができません。パスワードを忘れないようにお願いします。</p>
    <p>データベースの変更により当サイトはしばらく休止させていただきます</p>
    <br>
    <p><a href="https://san-com.jp">SANCOMトップページ</a></p>    
    {% endif %}

    {% endblock %}